html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

:focus {
    outline: 0;
}
body {
    background: white;
    line-height: 1;
    color: black;
}
ol, ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}


.body {
    font-family: PTSans-NarrowBold, Verdana, sans-serif;
    background: #070707 url("images/shop-bg.png") top center ;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.breadcrumbs__inner {
    width: 940px;
    margin: 0 auto;
}

.breadcrumbs__title {
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    padding-top: 63px;
}

.breadcrumbs__nav {
    padding: 31px 0 60px 0;
}

.breadcrumbs__nav-item {
    display: inline-block;
}

.breadcrumbs__nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin-right: 18px ;
}

.breadcrumbs__nav-link:last-child {
    color: #aba9a7;
}

.breadcrumbs__nav-image {
    margin-right: 18px;
}

.content {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sidebar__checkbox {
    padding-bottom: 37px;
}

.sidebar__checkbox-title, .sidebar__radio-title {
    text-transform: uppercase;
    color: black;
    font-size: 24px;
    padding-bottom: 35px;
}

.sidebar__checkbox-label {
    position: relative;
    cursor: pointer;
    display: block;
    padding-bottom: 18px;
    text-transform: uppercase;
}

.sidebar__checkbox-label > .sidebar__checkbox-input {
    position: absolute;
    opacity: 0;
}

.sidebar__checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 2px solid black;
    background: none;
}


.sidebar__checkbox-checkmark:after {
    content: url("icons/check-tick.png");
    left:2px ;
    top: 0;
    position: absolute;
    display: none;
}

.sidebar__checkbox-label .sidebar__checkbox-input:checked ~ .sidebar__checkbox-checkmark:after {
    display: block;
}

.sidebar__checkbox-label-caption {
    margin-left: 42px;
    vertical-align: -2px;
}

.sidebar__radio-label {
    position: relative;
    cursor: pointer;
    display: block;
    padding-bottom: 18px;
    text-transform: uppercase;

}

.sidebar__radio-label > .sidebar__radio-input {
    position: absolute;
    opacity: 0;
}

.sidebar__radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: 2px solid black;
    background: none;
}

.sidebar__radio-checkmark:after {
    content: url("icons/radio-tick.png");
    left:5px ;
    top: 0;
    position: absolute;
    display: none;
}

.sidebar__radio-label .sidebar__radio-input:checked ~ .sidebar__radio-checkmark:after {
    display: block;
}

.sidebar__radio-label-caption {
    margin-left: 42px;
    vertical-align: -2px;
}

.radio__container:after {
    content: "бритвенные принадлежности";
    display: block;
    margin-left: 42px;
    vertical-align: -1px;
    line-height: 18px;
    text-transform: uppercase;
    width: 50px;
}

.sidebar__button {
    width: 112px;
}

.goods {
    display: flex;
    flex-direction: column;
}

.goods__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.goods__inner:last-child {
    padding-bottom: 0;
}
.goods__box {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}

.goods__box:hover {
    box-shadow: 5px 0 25px rgba(0, 0, 0, 0.3);
}

.goods__box:first-child {
    margin-left: 0;
}


.goods__image-travel_kit {
    background: transparent url("images/travel_kit.png") center center no-repeat;
    height: 167px;
    width: 220px;
}

.goods__image-conditioner {
    background: transparent url("images/conditioner.png") center center no-repeat;
    height: 167px;
    width: 220px;
}

.goods__image-gel {
    background: transparent url("images/gel.png") center center no-repeat;
    height: 167px;
    width: 220px;
}

.goods__image-clay {
    background: transparent url("images/clay.png") center center no-repeat;
    height: 167px;
    width: 220px;
}

.goods__image-gel_crew {
    background: transparent url("images/gel_crew.png") center center no-repeat;
    height: 167px;
    width: 220px;
}

.goods__image-shaving_kit {
    background: transparent url("images/shaving_kit.png") center center no-repeat;
    height: 167px;
    width: 220px;
}

.goods__box-bottom {
    background: white;
    padding-bottom: 16px;
}

.goods__box-title {
    padding: 17px 0 8px 17px;

}

.goods__box-caption {
    padding: 0 0 17px 17px;
    text-transform: uppercase;
}

.goods__box-inner {
    width: 187px;
    margin: 0 auto;
    background: #e5e5e5;
    height: 45px;
}

.goods__box-text {
    display: inline-block;
    vertical-align: top;
    width: 103px;
    padding: 16px 0 17px 0;
    text-align: center;
    text-transform: uppercase;
    height: 45px;
}
.goods__button {
    display: inline-block;
    vertical-align: top;
    width: 79px;
    padding: 16px 0 17px 0;
    margin-top: 0;
    height: 12px;
}

.pagination {
    padding: 45px 0 50px 0;
}

.pagination-link {
    padding: 17px 0;
    width: 43px;
    height: 9px;
    margin: 0 7px 0 0;
}

.pagination-link:active {
    background: white;
    color: black;
}