html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

:focus {
    outline: 0;
}
body {
    background: white;
    line-height: 1;
    color: black;
}
ol, ul {
    list-style: none;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

@font-face {
    font-family: 'PTSans-NarrowBold';
    src: local('PTSans-NarrowBold');
    src: url('fonts/PTSans-NarrowBold.svg') format('svg'),
    url('fonts/PTN77F.eot') format('embedded-opentype'),
    url('fonts/PTSans-NarrowBold.woff') format('woff'),
    url('fonts/PTN77F.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.body-home {
    font-family: PTSans-NarrowBold, Verdana, sans-serif;
    background: #070707 url("images/body-background.png") top center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.body {
    font-family: PTSans-NarrowBold, Verdana, sans-serif;
    background: #070707 url("images/shop-bg.png") top center ;
    background-size: cover;
    width: 100%;
    height: 100%;
}


.header {
    background: black;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 940px;
}
.header__logo {
    background: transparent url("icons/logo.png") center center no-repeat;
    height: 24px;
    width: 111px;
    margin: 23px 20px 0 0 ;

}
.header__menu {
    flex-basis: auto;
    flex-grow: 2;
    margin: auto;


}
.header__menu-list-item {
    text-align: center;
}
.header__menu-list-item {
    display: inline-block;
}


.header__menu-list-link, .header__auth-link {
    font-family: PTSans-NarrowBold, Verdana, sans-serif ;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 28px 20px 28px 20px;



}
.header__menu-list-link:hover {
    background-color: #242424;
}
.header__menu-list-link:active {
    padding-bottom: 26px;
    border-bottom: 3px solid white;
}

.header__auth-link:before {
    content: url("icons/exit.png");
    padding-right: 13px;
}
.header__auth {
    padding: 28px 20px 30px 20px;
}

.header__auth:hover {
    background-color: #242424;
}

.paragraphs__logo {
    display: block;
    margin: 0 auto;
    background: transparent  url("images/logo.png") center center no-repeat;
    height: 156px;
    width: 307px;
    padding: 58px 0 83px 0;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 940px;

}

.paragraphs__box{
    width: 275px;
}

.paragraphs__box-title {
    font-family: PTSans-NarrowBold, Verdana, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    text-align: center;

}

.paragraphs__box-icon {
    background: transparent url("images/rhombus.png") center center no-repeat;
    width: 100%;
    height: 29px;
    padding: 13px 0 29px 0;
}

.paragraphs__box-text {
    font-family: PTSans-NarrowBold, Verdana, sans-serif;
    font-size: 14px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    width: 275px;
    line-height: 24px;
}

.news {
    padding-top: 82px;
    font-size: 14px;
}

.inner {
    display: flex;
    margin: 0 auto;
    width: 940px;
    background: white url("images/news_contacts_bg.png") center center;
}

.container-left {
    padding: 53px 0 47px 79px;
}

.slider, .booking {
    padding: 53px 0 47px 90px;
}

.news__title, .slider__title, .contacts__title, .booking__title {
    font-family: PTSans-NarrowBold, Verdana, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: black;

}

.news__text {
    line-height: 24px;
    text-transform: uppercase;
    width: 349px;
    padding: 33px 36px 0 0;

}

.news__button, .slider__button, .contacts__button, .booking__button, .sidebar__button,
.goods__button, .pagination-link, .item__button{
    display: inline-block;
    background: black;
    color: white;
    width: 141px;
    padding: 17px 0;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin-top: 33px;
    font-family: inherit;
    font-size: 14px;
    border: none;
}
.news__button:hover, .news__button:active,
.slider__button:hover,  .slider__button:active,
.contacts__button:hover, .contacts__button:active,
.booking__button:hover, .booking__button:active,
.sidebar__button:hover, .sidebar__button:active,
.goods__button:hover, .goods__button:active,
.pagination-link:hover, .item__button:hover{
    background: #663d15;
}

.vertical-line {
    margin: auto 0;
    background: transparent url("images/vertical-line.png") center center no-repeat;
    width: 8px;
    height: 278px;
}

.slider__image {
    width: 285px;
    border-top: 7px solid white;
    border-bottom: 7px solid white;
    border-left: 8px solid white;
    border-right: 8px solid white;
    margin: 39px 0 72px 0;
}

.slider__button {
    margin-top: 0;
}

.slider__button, .contacts__button {
    margin-right: 20px;
}
.slider__button:last-child, .contacts__button:last-child {
    margin-right: 0;
}
.contacts {
    padding: 34px 0 60px 0;
    font-size: 14px;
}

.contacts__text {
    padding: 33px 102px 0 0 ;
    line-height: 24px;
    text-transform: uppercase;
}


.booking__text {
    padding: 33px 0 27px 0;
    width: 296px;
    line-height: 24px;
    text-transform: uppercase;
}

.booking__inner {
    display: block;
    padding-bottom: 21px;

}

.booking__input {
    display: inline-block;
    width: 108px;
    padding: 15px;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-family: PTSans-NarrowBold, Verdana, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 20px;
}
.booking__input:last-child {
    margin-right: 0;
}
.booking__input:focus {
    border: 2px solid #663d15;
}

.booking__button {
    display: block;
    width: 305px;
    margin-top: 0;
}


.breadcrumbs__inner {
    width: 940px;
    margin: 0 auto;
}

.breadcrumbs__title {
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    padding-top: 63px;
}

.breadcrumbs__nav {
    padding: 31px 0 60px 0;
}

.breadcrumbs__nav-item {
    display: inline-block;
}

.breadcrumbs__nav-link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin-right: 18px ;
}

.breadcrumbs__nav-link:last-child {
    color: #aba9a7;
}

.breadcrumbs__nav-image {
    margin-right: 18px;
}


.shop-content {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sidebar__checkbox {
    padding-bottom: 37px;
}

.sidebar__checkbox-title, .sidebar__radio-title {
    text-transform: uppercase;
    color: black;
    font-size: 24px;
    padding-bottom: 35px;
}

.sidebar__checkbox-label {
    position: relative;
    cursor: pointer;
    display: block;
    padding-bottom: 18px;
    text-transform: uppercase;
}

.sidebar__checkbox-label > .sidebar__checkbox-input {
    position: absolute;
    opacity: 0;
}

.sidebar__checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    border: 2px solid black;
    background: none;
}


.sidebar__checkbox-checkmark:after {
    content: url("icons/check-tick.png");
    left:2px ;
    top: 0;
    position: absolute;
    display: none;
}

.sidebar__checkbox-label .sidebar__checkbox-input:checked ~ .sidebar__checkbox-checkmark:after {
    display: block;
}

.sidebar__checkbox-label-caption {
    margin-left: 42px;
    vertical-align: -2px;
}

.sidebar__radio-label {
    position: relative;
    cursor: pointer;
    display: block;
    padding-bottom: 18px;
    text-transform: uppercase;

}

.sidebar__radio-label > .sidebar__radio-input {
    position: absolute;
    opacity: 0;
}

.sidebar__radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: 2px solid black;
    background: none;
}

.sidebar__radio-checkmark:after {
    content: url("icons/radio-tick.png");
    left:5px ;
    top: 0;
    position: absolute;
    display: none;
}

.sidebar__radio-label .sidebar__radio-input:checked ~ .sidebar__radio-checkmark:after {
    display: block;
}

.sidebar__radio-label-caption {
    margin-left: 42px;
    vertical-align: -2px;
}

.radio__container:after {
    content: "бритвенные принадлежности";
    display: block;
    margin-left: 42px;
    vertical-align: -1px;
    line-height: 18px;
    text-transform: uppercase;
    width: 50px;
}

.sidebar__button {
    width: 112px;
}

.goods {
    display: flex;
    flex-direction: column;
}

.goods__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.goods__inner:last-child {
    padding-bottom: 0;
}
.goods__box {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
}

.goods__box:hover {
    box-shadow: 5px 0 25px rgba(0, 0, 0, 0.3);
}

.goods__box:first-child {
    margin-left: 0;
}


.goods__image {
    width: 220px;
}

.goods__box-bottom {
    background: white;
    padding-bottom: 16px;
}

.goods__box-title {
    padding: 17px 0 8px 17px;

}

.goods__box-caption {
    padding: 0 0 17px 17px;
    text-transform: uppercase;
}

.goods__box-inner, .item__wrapper {
    width: 187px;
    margin: 0 auto;
    background: #e5e5e5;
    height: 45px;
}

.goods__box-text,.item__wrapper-text{
    display: inline-block;
    vertical-align: top;
    width: 103px;
    padding: 16px 0 17px 0;
    text-align: center;
    text-transform: uppercase;
    height: 45px;
}
.goods__button , .item__button{
    display: inline-block;
    vertical-align: top;
    width: 79px;
    padding: 16px 0 17px 0;
    margin-top: 0;
    height: 12px;
}

.pagination {
    padding: 45px 0 50px 0;
}

.pagination-link {
    padding: 17px 0;
    width: 43px;
    height: 9px;
    margin: 0 7px 0 0;
}

.pagination-link:active {
    background: white;
    color: black;
}

.price-content {
    width: 940px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price__title-line {
    border-top: 2px solid black;
    width: 160px;
}

.price__title-caption {
    font-size: 48px;
    text-transform: uppercase;
    margin: 0 27px;
}

.price__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
}
.price__inner:last-child {
    padding-top: 0;
}

.price__nav-title, .price__table-title {
    width: 239px;
    line-height: 30px;
    font-size: 24px;
    text-transform: uppercase;
    padding-bottom: 42px;
    text-align: left;
}

.price__nav-image {
    margin-right: 10px;
}

.price__nav-item {
    text-transform: uppercase;
    padding-bottom: 27px;
}

.price__nav-item:last-child {
    padding-bottom: 0;
}

.price__table-title {
    width: 178px;
}

.table {
    border: 2px solid black;
    border-top: none;
    width: 456px;
    text-transform: uppercase;
}

.table__column-left {
    border-top: 2px solid black;
    border-right: 2px solid black;
    padding: 16px 0 17px 17px;
    width: 211px;
}
.table__column-right {
    border-top: 2px solid black;
    text-align: center;
}

.price__paragraph-title {
    text-transform: uppercase;
    font-size: 24px;
    padding: 72px 0 40px 0;
}


.price__paragraph {
    width: 400px;
    line-height: 24px;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    margin-right: 95px;
    padding-bottom: 85px;
}
.price__paragraph:last-child {
    width: 380px;
    margin-right: 83px;
}

.item-content {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.item__inner-img, .item__inner-desc{
    display: flex;
    flex-direction: column;

}



.item__image-main, .item__image {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.item__image-main:hover, .item__image:hover {
    box-shadow: 5px 0 25px rgba(0, 0, 0, 0.3);
}

.item__gallery {
    padding: 21px 0 50px 0;
}

.item__image-link {
    margin-right: 20px;
}
.item__image-link:last-child {
    margin-right: 0;
}

.item-top {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.item-top-desc {
    color: #aeaeae;
}

.item__paragraph {
    width: 394px;
    text-transform: uppercase;
    padding: 44px 0 40px 0;
    line-height: 24px;
}

.item__paragraph-link {
    text-decoration: none;
    color: black;
}

.item__wrapper {
    margin: 0;
}

.item__nav {
    text-transform: uppercase;
}

.item__nav-title {
    padding: 70px 0 42px 0;
    font-size: 24px;
}

.item__nav-item {
    padding-bottom: 10px;
}
.item__nav-item:last-child {
    padding-bottom: 0;
}

.footer-home {
    background: #252525 url("images/footer__bg.png") center center;
    color: white;
}

.footer {
    background: #252525 url("images/footer__shop__bg.png") center center;
    color: white;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 940px;
    padding: 60px 0 42px 0;
}

.footer__text {
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.footer__text-link {
    color: white;
}

.sociables {
    width: 143px;
}

.sociables__slogan {
    text-transform: uppercase;
    padding-bottom: 23px;
    text-align: center;
}

.sociables-vk {
    display: inline-block;
    background: black url("icons/vk.png") center center no-repeat;
    width: 43px;
    height: 43px;
    margin-right: 3px;
}
.sociables-vk:hover {
    background: white url("icons/vk_hover.png") center center no-repeat;
}
.sociables-facebook {
    display: inline-block;
    background: black url("icons/facebook.png") center center no-repeat;
    width: 43px;
    height: 43px;
    margin-right: 3px;
}
.sociables-facebook:hover {
    background: white url("icons/facebook_hover.png") center center no-repeat;
}
.sociables-insta {
    display: inline-block;
    background: black url("icons/insta.png") center center no-repeat;
    width: 43px;
    height: 43px;
}
.sociables-insta:hover {
    background: white url("icons/insta_hover.png") center center no-repeat;
}

.footer__copy-title {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 37px;
}

.footer__copy-link {
    background-color: black;
    text-transform: uppercase;
    color: white;
    padding: 14px 23px;
    text-decoration: none;
}


.footer__copy-link:hover {
    background-color: white;
    color: black;
}